<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="{{ cdn_jss | safe }}"></script>
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">inventory</span> Laptop Information
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/"><span class="material-icons-outlined">dashboard</span> Home</a>
          </li>
          <li class="sidebar-list-item">
            <a href="/dashboard"><span class="material-icons-outlined">dashboard</span> Dashboard</a>
          </li>
        </ul>
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">DASHBOARD</p>
        </div>

        <div class="main-cards">
          <div class="card">
            <div class="card-inner">
              <p class="text-primary">MIN-PRICE</p>
            </div>
            <span class="text-primary font-weight-bold">Nu.9270.72</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">MAX-PRICE</p>
            </div>
            <span class="text-primary font-weight-bold">Nu.324954.72</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Most used GPU</p>
            </div>
            <span class="text-primary font-weight-bold">Intel</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">HIGHEST RAM</p>
            </div>
            <span class="text-primary font-weight-bold">64</span>
          </div>
        </div>

        <div class="charts">
          <div class="charts-card">
            <p class="chart-title" style="font-family: serif; font-weight: bolder; font-size: 30px;">Analysis Graphs</p>
            <div id="bar-chart"></div>
            {{ js | safe }}
            {{ div | safe }}
          </div>
        </div>
      </main>
      <!-- End Main -->

    </div>

    <style>
      /* Remove underline from links */
      a {
        text-decoration: none;
      }

      /* Change link color */
      a:link,
      a:visited {
        color: white;
      }
    </style>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="../static/js/dashboard.js"></script>
  </body>
</html>
